<div class="page-header">
  <h1>Let's eat</h1>
</div>
<div id="wrapper">
  <a class="btn btn-success" style="margin-bottom: 15px;" routerLink="new"
    >New Restaurant</a
  >
  <div id="restaurantTable">
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <td>
            Restaurant
          </td>
          <td>
            Cuisine
          </td>
          <td>
            Actions available
          </td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of restaurants">
          <td>{{ r.name }}</td>
          <td>{{ r.cuisine }}</td>
          <td>
            <div style="display: inline-block;" (click)="onClick($event)">
              <button (click)="viewRestaurant(r)">Read reviews</button>
            </div>
            <div
              style="margin-left: 20px; display: inline-block;"
              (click)="onClickE($event)"
            >
              <button (click)="editRestaurant(r)">Edit</button>
            </div>
            <div
              style="margin-left: 20px; display: inline-block;"
              (click)="onClickD($event)"
            >
              <button (click)="delete(r)">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
