<div id="page-header">
  <h1>Let's eat!</h1>
  <h6>Edit the restaurant {{ RestaurantEdit.name }}!</h6>
</div>
<div id="newPetform" style="width: 90%; margin-right: 5%; margin-left: 5%;">
  <h4></h4>
  <form
    (ngSubmit)="onSubmit($event, addRestaurant.value)"
    #addRestaurant="ngForm"
    class="form-group"
    autocomplete="off"
  >
    <fieldset>
      <div>
        <div *ngIf="restaurantErrors.length">
          <ul class="alert alert-danger">
            <li *ngFor="let error of restaurantErrors">{{ error }}</li>
          </ul>
        </div>
        <div class="form-group">
          <label for="restaurantName">Restaurant name: </label>
          <input
            class="form-control"
            type="text"
            name="name"
            #name="ngModel"
            [(ngModel)]="RestaurantEdit.name"
            minlength="3"
          />
        </div>
        <br />
        <div class="form-group">
          <label for="petType">Cusine: </label>
          <input
            class="form-control"
            type="text"
            name="cuisine"
            #cuisine="ngModel"
            [(ngModel)]="RestaurantEdit.cuisine"
            minlength="3"
          />
        </div>
        <br />
        <div
          style="width: 50%; margin-left: 25%; margin-right: 35%;"
          class="form-group"
        >
          <button class="btn btn-primary">Edit</button>
        </div>
      </div>
    </fieldset>
  </form>
  <a
    routerLink="/restaurants"
    style="position: relative; top: -60px; left: 80%; color: white;"
    class="btn btn-danger"
    >Go Back</a
  >
</div>
