<div>
  <h1>Let's eat!</h1>
</div>
<a routerLink="review" class="btn btn-success" style="margin-bottom: 15px;"
  >New Review</a
>
<div id="restaurantdetails">
  <div id="restaurantTable">
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <td>
            Customer
          </td>
          <td>
            Stars
          </td>
          <td>
            Description
          </td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of reviews">
          <td>{{ r.name }}</td>
          <td>{{ r.star }}</td>
          <td>{{ r.content }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
